POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=agroclimate
POSTGRES_USER=agroclimate
POSTGRES_PASSWORD=agroclimate

AIRFLOW_UID=50000

API_TIMEOUT=20
API_RETRIES=3
API_RETRY_BACKOFF_SECONDS=2
INITIAL_INGESTION_DATE=2026-08-01
DATA_DIR=data
LOG_LEVEL=INFO
STRICT_PIPELINE=false
